body {
    font-family: 'Roboto', sans-serif;
    background:  #18919B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Mengatur box ke tengah horizontal */
    align-items: center; /* Mengatur box ke tengah vertikal */
    min-height: 100vh; /* Menjamin bahwa box tetap di tengah bahkan jika konten tidak memenuhi layar */
}

.container {
    font-family: 'Roboto', sans-serif; /* Gunakan font Roboto */
    width: 30%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    margin: auto;
    opacity: 0;
    animation-name: fadeInMove;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Mulai gerakan dari posisi -100px dari kiri */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Berhenti di posisi awal */
    }
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Penambahan margin antara tombol */
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
